In [273]:
##PREPARAMOS LIBRERIAS Y EL ENTORNO DE TRABAJO

from cleaning import *

import re
import pandas as pd
import numpy as np
import pylab as plt
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [274]:
##IMPORTAMOS EL ARCHIVO Y HACEMOS UNA COPIA PARA TRABAJAR

shark_orin=pd.read_csv('attacks.csv', encoding= 'latin1')

shark=shark_orin.copy()

In [275]:
##EXPLORAMOS EL ARCHIVO

shape_original=shark.shape  ##Guardamos el tamaño original en una variable

shark.columns  ##Vemos el nombre de las columnas

shark.head()  ##Echamos un vistazo al csv

shark.dtypes  ##Vemos los tipos de datos

shark.info(memory_usage='deep')  #Vemos los tipos de datos y los no nulos

shark.describe(include='all').T #Vemos la descripcion de la tabla de forma estadistica

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Case Number,8702,6287,0,2400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,6302,5433,1957,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,6300.0,NaN,NaN,NaN,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
Type,6298,8,Unprovoked,4595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,6252,212,USA,2229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,5847,825,Florida,1037,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,5762,4108,"New Smyrna Beach, Volusia County",163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Activity,5758,1532,Surfing,971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,6092,5230,male,550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,5737,6,M,5094,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,3471,157,17,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury,6274,3737,FATAL,802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fatal (Y/N),5763,8,N,4293,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,2948,366,Afternoon,187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,3464,1549,White shark,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigator or Source,6285,4969,"C. Moore, GSAF",105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,6302,6291,1923.00.00.a-NJ fisherman.pdf,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.1,6302,6285,1920.00.00.b,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.2,6302,6286,1920.00.00.b,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original order,6309.0,NaN,NaN,NaN,3155.999683,1821.396206,2.0,1579.0,3156.0,4733.0,6310.0
Unnamed: 22,1,1,stopped here,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,2,2,Teramo,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
##COMENZAR A GESTIONAR EL FICHERO

In [277]:
##Vamos a poner los nombres sin espacios y en minusculas

shark_columns=DataCleaning.modificar_nombres_columnas(shark)

shark.columns=shark_columns

In [278]:
#Primero vamos a eliminar las columnas de unnamed ya que no nos dan informacion
shark.drop(columns=['unnamed:22', 'unnamed:23'], inplace=True)

In [279]:
#Vamos a limpiar los duplicados
shark.drop_duplicates(inplace=True)

In [280]:
#nuevo shape (6311, 22)
shark.shape

(6312, 22)

In [281]:
##COLUMNA DATE
#Creamos nueva copia
sharkv2=shark.copy()

#limpiamos los nulos
sharkv2.date
sharkv2.date.isna().sum()
sharkv2.date.fillna(value='unkwnow', inplace=True)
sharkv2.date.isna().sum()

0

In [282]:
#Vemos los valores unicos

sharkv2.date.nunique()

#hay 5434

5434

In [283]:
#Pasamos una función para limpiar y dejar solamente los años
def date(x):
    x=str(x).lower().strip()
    key='(\d{4}$)'
    fecha=re.findall(key,x)
    
    
    if x=='unkwnow':
        return 'unkwnow'
    elif re.findall(key,x):
        return "".join(fecha)
    elif len(fecha)==0:
        return 'unkwnow'
    

sharkv2.date=sharkv2.date.apply(date)

sharkv2.date.head()

sharkv2.date.nunique()

#Tras pasar la función nos quedan 249

249

In [284]:
##COLUMNA CASENUMBER

In [285]:
sharkv2.casenumber[(shark.casenumber.notna()) & (shark.casenumber!='0')]

sharkv2.casenumber.nunique()  ##tenemos 6287 valores únicos

sharkv2.casenumber.isna().sum()  #tenemos dos valores nulos que limpiamos

sharkv2.casenumber.fillna(value='unkwnow', inplace=True)

sharkv2.casenumber.isna().sum()

0

In [286]:
#Hacemos una funcion que sustituye las fechas extrañas por 0000.00.00 para poder pasar luego
def limpiar_fecha(x):
    x=str(x)
    contador=0
    
    num=re.findall('\d+.\d+.\d+', x)
    num="".join(num)
    
    if num=='':
        contador=0
    elif num in x:
        contador+=1

    if contador==1:
        return str(num)
    elif contador==0:
        return '0000.00.00'
    
sharkv2.casenumber=sharkv2.casenumber.apply(limpiar_fecha)

In [287]:
sharkv2.casenumber.nunique()  #Ahora tenemos valores unicos 5209 le hemos bajado casi 1000

sharkv2.casenumber.value_counts().head()

sharkv2.casenumber.sort_values(ascending=False)  #Dejamos colocadas las fechas

#Modificamos las columnas de casenumber que son practicamente iguales como esta

sharkv2['casenumber.1']=sharkv2.casenumber
sharkv2['casenumber.2']=sharkv2.casenumber

In [288]:
##COLUMNA EDAD

#Primero limpiamos los nulos que hay más de 2000
sharkv2.age.isna().sum()

sharkv2.age.fillna(value='unkwnow', inplace=True)

sharkv2.age.nunique()  #contamos los valores únicos que son 157

sharkv2.age.value_counts().head()

unkwnow    2841
17          154
18          150
19          142
20          141
Name: age, dtype: int64

In [289]:
#Creamos una funcion para limpiar la edad

from statistics import mean
def edad(x):
    x = str(x).lower()
    num=re.findall('\d+', x)[:5]
    res = [eval(i) for i in num]
    if num:
        return mean(res)
    elif "teen" in x:
        return 15.5
    elif "young" in x:
        return 18.5
    elif "adult" in x:
        return 49
    elif "elderly" in x:
        return 70
    elif "middle" in x :
        return 50
    elif "18months" in x:
        return 1.5
    elif "9months" in x:
        return 0.75
    elif "2to3months" in x:
        return 0.2
    else:
        return 0
    
sharkv2.age=sharkv2.age.apply(edad)

In [290]:

sharkv2.age.nunique()  #Hemos pasado de 157 valores unicos a 82

sharkv2.age.value_counts().head()

0.0     2849
17.0     155
20.0     152
18.0     151
19.0     145
Name: age, dtype: int64

In [291]:
#COLUMNA TYPE
sharkv2.type.value_counts()

sharkv2.type.nunique()   #Hay 8 valores únicos

8

In [292]:
sharkv2.type.isna().sum()  #Hay 14 valores nulos que quitamos

sharkv2.type.fillna(value='unkwnow', inplace=True)

In [293]:
#Quitando los valores Boat y Boatomg por Boat

def tipo_ataque(x):
    if x =='Boating':
        return'Boat'
    elif x =='Boatomg':
        return'Boat'
    else:
        return x
    
sharkv2.type=sharkv2.type.apply(tipo_ataque)

In [294]:
sharkv2.type.value_counts()

sharkv2.type.nunique()  #En este caso no hemos reducido mucho los valores hemos pasado a 7

7

In [295]:
##COLUMNA YEAR

sharkv2.year.isna().sum()  #hay 12 valores nulos que los modificamos

sharkv2.year.fillna(value='unkwnow', inplace=True)

In [296]:
sharkv2.year.head()

sharkv2[['date','year']].head()

   date    year
0  2018  2018.0
1  2018  2018.0
2  2018  2018.0
3  2018  2018.0
4  2018  2018.0

In [297]:
#Pasamos una función y limpiamos year

def limpiaryear(x):
    x=str(x)
    
    key='(^\d{4})'
    year=re.findall(key,x)
    if x=='unkwnow':
        return 'unkwnow'
    elif re.findall(key,x):
        return "".join(year)
    else:
        return 'unkwnow'
    
sharkv3=sharkv2.copy()

sharkv3.year=sharkv3.year.apply(limpiaryear)

In [298]:
##COLUMNA COUNTRY

#En este caso hacemos un mantenimiento básico ya que hay ataques de tiburones que ni si 
# quiera se pueden asociar a un pais

#Limpiamos los nan

sharkv3.country.isna().sum()  ##hay 60 casos
sharkv3.country.fillna(value='unkwnow', inplace=True)

#contamos los valores unicos
sharkv3.country.value_counts()
sharkv3.country.nunique()  #Salen 213 valores

213

In [299]:
#Ponemos todo en mayusculas y quitamos los interrogantes

sharkv3.country=sharkv3.country.str.upper()

sharkv3.country=sharkv3.country.str.replace("?","")

In [300]:
#COLUMNA AREA
#Hacemos un poco lo mismo que con COUNTRY
#Primero los nulos
sharkv3.area.isna().sum()  #hay 465
sharkv3.area.fillna(value='unkwnow', inplace=True)

In [301]:
##En este caso vamos a gestionar dos valores que aparecen con caracteres extraños nada más de forma 
#dirercta ya que es complicado establecer regiones geográficas al haber ataques en alta mar
#'d\x92Étang-Salé'
#'Vava\x92u'

shark.iloc[2356]='Vavau'
shark.iloc[2362]='Vavau'
shark.iloc[2515]='Vavau'

shark.iloc[447]='dÉtang-Salé'
shark.iloc[607]='dÉtang-Salé'

In [302]:
##COLUMNA LOCATION
#La gestionamos como las otras dos geográficas
sharkv3.location.isna().sum()  #hay 550
sharkv3.location.fillna(value='unkwnow', inplace=True)

In [303]:
##COLUMNA ACTIVITY
#Vemos si tiene nulos y los limpiamos

sharkv3.activity.isna().sum()  #tiene 554
sharkv3.activity.fillna(value='unkwnow', inplace=True)

In [304]:
#Cogemos cierto patron de actividades y lo pasamos por una función para que cambie los nombres,
# el resto los consideramos como otros

In [305]:
def actividad(x):
    dicc_actividades = {"Fishing":re.search(".*[Ff](ishing|ISHING).*",str(x)),
                    "Swimming":re.search(".*[Ss](wimming|WIMMing).*",str(x)),
                    "Kite":re.search(".*[Kk](ite|ITE).*",str(x)),
                    "Walking":re.search(".*[Ww](alking|ALKING).*",str(x)),
                    "Boogie Board":re.search(".*[Bb](oogie|OOGIE).*",str(x)),
                    "Body Boarding":re.search(".*[Bb](ody|ODY).*",str(x)),
                    "Wind Surfing":re.search(".*[wW](ind|IND).*",str(x)),
                    "Boat":re.search(".*[Bb](oat|OAT).*",str(x)),
                    "Interact with sharks":re.search(".*[Ss](hark|HARK).*",str(x)),
                    "Diving":re.search(".*[Dd](iving|IVING).*",str(x)),
                    "Standing in water":re.search(".*[Ss](tand|TAND).*",str(x)),
                    "Paddling":re.search(".*[Pp](addl|ADDL).*",str(x)),
                    "Bathing":re.search(".*[Bb](athing|ATHING).*",str(x)),
                    "OverBoard":re.search(".*[Oo](verb|VERB).*",str(x)),
                    "Bathing":re.search(".*[Bb](athing|ATHING).*",str(x)),
                    "Floating":re.search(".*[Ff](loat|LOAT).*",str(x)),
                    "Jumping":re.search(".*[Jj](ump|UMP).*",str(x))}
    for key,values in dicc_actividades.items():
        if values:
            return key
    return "other"

sharkv3.activity=sharkv3.activity.apply(actividad)

In [306]:
sharkv2.activity.nunique()  #habian 1532
sharkv3.activity.nunique()  #quedan 17 actividades

17

In [307]:
##COLUMNA NAME
#Como siempre limpiamos nulos
sharkv3.name.isna().sum()  ##220
sharkv3.name.fillna(value='unkwnow', inplace=True)

sharkv3.name.nunique()  #5231

5231

In [308]:
#Esta columna no tiene mucha relevancia para los estudios pero intetamos limpiarla de la mejor forma posible
def name(x):
    x=x.lower()
    
    if re.findall('male',x):
        return 'unkonwn'
    elif x=='':
        return 'unkonwn'
    elif x==None:
        return 'unkonwn'
    elif 'marine' in x:
        return 'unkonwn'
    elif  'girl' in x:
        return 'unkonwn'
    elif 'boy' in x:
        return 'unkonwn'
    elif '_' in x:
        return 'unkonwn'
    elif '..' in x:
        return 'unkonwn'
    elif 'people' in x:
        return 'unkonwn'
    elif 'teacher' in x:
        return 'unkonwn'
    elif x=='':
        return 'unkonwn'
    elif 'citizen' in x:
        return 'unkonwn'
    elif '*' in x:
        return 'unkonwn'
    elif 'anonymus' in x:
        return 'unkonwn'
    elif 'japanese' in x:
        return 'unkonwn'
    elif re.findall('^\d+', x):
        return 'unkonwn'
    else:
        return x
    
sharkv3.name=sharkv3.name.apply(name)

In [309]:
sharkv3.name.nunique()  #4863... unos 400 menos

4863

In [310]:
##COLUMNA SEXO
#limpiamos los nulos
sharkv3.sex.isna().sum()  #575
sharkv3.sex.fillna(value='unkwnow', inplace=True)
sharkv3.sex.isna().sum()

0

In [311]:
#Al ser poco los valores erroneos los modificamos directamente

sharkv3[sharkv3.sex=='M ']='M'
sharkv3[sharkv3.sex=='N']='M'
sharkv3[sharkv3.sex=='.']='unkwnow'
sharkv3[sharkv3.sex=='lli']='unkwnow'

In [312]:
sharkv2.sex.nunique()  #6
sharkv3.sex.unique()  #3

array(['F', 'M', 'unkwnow'], dtype=object)

In [313]:
##COLUMNA INJURY
#Limpiamos nulos
sharkv3.injury.isna().sum()  #38
sharkv3.injury.fillna(value='unkwnow', inplace=True)

In [314]:
sharkv3.injury.nunique()  #3734

sharkv3.injury.head()

0    No injury to occupant, outrigger canoe and pad...
1                           Minor injury to left thigh
2         Injury to left lower leg from surfboard skeg
3                            Minor injury to lower leg
4    Lacerations to leg & hand shark PROVOKED INCIDENT
Name: injury, dtype: object

In [315]:
#Tomo la decisión de si hay un texto escrito y no han puesto fatal lo tomo como no mortal y se modifica

sharkv4=sharkv3.copy()
def injury(x):
    
    x=str(x.lower())
    if "fatal" in x:
        return 'fatal'
    elif "No injury" or 'no injury' in x:
        return 'no injury'
    elif 'injury' in x:
        return 'injury'
    elif 'unkwnow' in x:
        return 'unkwnow'
    else:
        return 'injury'
    
sharkv4.injury=sharkv4.injury.apply(injury)

In [316]:
sharkv4.injury.nunique()  #lo reducimos a 2 valores INJURY O FATAL

2

In [317]:
##COLUMNA FATAL
#En este caso primero igualamos donde hay algun dato en injury ponemos N en fatal
sharkv4['fatal(y/n)'][sharkv4.injury=='injury']='N'

In [318]:
#Luego limpiamos los nulos
sharkv4['fatal(y/n)'].isna().sum()  #no hay nulos

549

In [319]:
sharkv4['fatal(y/n)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', 'unkwnow', ' N', 'N ', 'y'],
      dtype=object)

In [320]:
#Al tener que modificar en pocos casos los hacemos directamente

sharkv4[sharkv4['fatal(y/n)']=='UNKNOWN']='UNKWNOW'
sharkv4[sharkv4['fatal(y/n)']=='M']='N'
sharkv4[sharkv4['fatal(y/n)']=='2017']='UNKWNOW'

In [323]:
#COLUMNA TIME
#gestionamos los nulos
sharkv4.time.isna().sum()  #3296
sharkv4.time.fillna(value='unkwnow', inplace=True)
sharkv4.time.isna().sum()

0

In [324]:
#limpiamos la columna primero generamos una funcion para quitarlos fallos principales

def time(x):
    
    x=str(x.lower())
    
    hora=re.findall('\d+[a-z]\d+',x)
    
    if x=='unkwnow':
        return x
    elif re.findall('\d+[a-z]\d+',x):
        return "".join(hora[0])
    elif 'morning' in x:
        return '10:00'
    elif 'midday' in x:
        return '12:00'
    elif 'midnight' in x:
        return '24:00'
    elif 'afternoon' or 'after noon' in x:
        return '17:00'
    elif 'evening'  in x:
        return '19:00'
    elif 'night' in x:
        return '21:00'
    else:
        return x
    
sharkv4.time=sharkv4.time.apply(time)

In [328]:
sharkv3.time.nunique()  #368
sharkv4.time.nunique()  #254
sharkv4.time.value_counts().head()

unkwnow    3370
17:00       427
10:00       135
11h00       131
12h00       113
Name: time, dtype: int64

In [330]:
#Hacemos otra función para igualar los datos con dos puntos y dejamos el resto de datos como 'unkwnow

def dospunto(x):
    hora=""
    
    if x=='unkwnow':
        return 'unkwnow'
    
    elif len(x)<3:
        return 'unkwnow'
    
    elif len(x)>6:
        if "am" or "a.m." or 'pm' or 'p.m.':
            x.replace('am','')
            x.replace('a.m.','')
            x.replace('pm','')
            x.replace('p.m.','')
            
    elif len(x)>10:
        return 'unkwnow'
    
    elif len(x)==4:
        for n in range(len(x)):
            if n==2:
                hora+=':'+x[n]
            else:
                hora+=x[n]
        return hora
    
    elif len(x)==5:
        
        for num in x:
            
            if num  in '1,2,3,4,5,6,7,8,9,0':
                hora+=num
                
        
            elif num not in '1,2,3,4,5,6,7,8,9,0':
                hora+=':'
                
        
    else:
        return x
    
    return hora

sharkv4.time=sharkv4.time.apply(dospunto)

In [333]:
sharkv4.time.nunique()  #249

sharkv4.time.head()

0      18:00
1      14:00
2      07:45
3    unkwnow
4    unkwnow
Name: time, dtype: object

In [335]:
##COLUMNA INVESTIGATOR OR SOURCE
#Simplemente limpiamos duplicados no es una columna que nos interese

sharkv4.investigatororsource.isna().sum()  ##26

sharkv4.investigatororsource.fillna(value='unkwnow', inplace=True)

sharkv4.investigatororsource.isna().sum()

0

In [337]:
##COLUMNA SPECIES
#Limpiamos los nulos

sharkv4.species.isna().sum()  #2793

sharkv4.species.fillna(value='unkwnow', inplace=True)

sharkv4.species.isna().sum()

0

In [339]:
#Pasamos una primera funcion para dejar solo las palabras con shark y la que hay delante

sharkv5=sharkv4.copy()

def species(x):
    
    x=str(x.lower())
    keyw='([a-zA-Z]+\sshark)'
    
    shark=re.findall(keyw,x)
    
    if re.findall(keyw,x):
        return "".join(shark)
    else:
        return 'unkwnow'
    
sharkv5.species=sharkv5.species.apply(species)

In [343]:
sharkv4.species.nunique()  #1544
sharkv5.species.nunique() #133
sharkv5.species.value_counts().head()

unkwnow        4136
white shark     613
tiger shark     256
bull shark      170
m shark         137
Name: species, dtype: int64

In [351]:
#Pasamos una nueva función que quite los casos con dos letras delante de shark

def species2(x):
    
    x=str(x.lower())
    
    
    keyw='([a-zA-Z]{1,2}\sshark)'
    
    shark=re.findall(keyw,x)
    
    if x in re.findall(keyw,x):
        return 'unkwnow'
    else:
        return x
    
sharkv5.species=sharkv5.species.apply(species2)

sharkv5.species.nunique()  #126

sharkv5.species.value_counts().head()

unkwnow        4337
white shark     613
tiger shark     256
bull shark      170
nurse shark      95
Name: species, dtype: int64

In [352]:
##LAS COLUMNAS PDF, HREF,HREF_FORMULA Y ORIGINAL NUMBER 
#Solo limpiamos los null ya que no las vamos a usar
sharkv5.pdf.isna().sum()

sharkv5.pdf.fillna(value='unkwnow', inplace=True)

sharkv5.href.isna().sum()

sharkv5.href.fillna(value='unkwnow', inplace=True)

sharkv5.hrefformula.isna().sum()

sharkv5.hrefformula.fillna(value='unkwnow', inplace=True)

sharkv5.originalorder.isna().sum()

sharkv5.originalorder.fillna(value='unkwnow', inplace=True)